/* app-quiz-list {
  width: 400px;
  display: block;
  padding: 2px 20px;
  margin: 0px 5px;
  float: left;
 }
 app-quiz-list.Latest {
  background-color: #f0f0f0;
  }
  app-quiz-list.ByTitle {
  background-color: #e0e0e0;
  }
  app-quiz-list.Random {
  background-color: #d0d0d0;
  } */
Latest {
    background-color: #f0f0f0;
    }
ByTitle {
    background-color: #e0e0e0;
    }
Random {
    background-color: #d0d0d0;
    }
