<h1>Greetings, stranger!</h1>
<p>This is what you get for messing up with .NET Core and Angular.</p>
<div class="row">
  <div class="col-md-4 bg-info border border-white rounded">
    <app-quiz-list class="Latest" ></app-quiz-list>
  </div>
  <div class="col-md-4 bg-success border border-white rounded">
    <app-quiz-list class="ByTitle"></app-quiz-list>
  </div>
  <div class="col-md-4 bg-primary border border-white rounded">
    <app-quiz-list class="Random"></app-quiz-list>
  </div>
</div>
