.quiz {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: #dddddd;
  width: 300px;
 }
  .quiz * {
  vertical-align: middle;
  }
  .quiz ul li {
  padding: 5px 0;
  }
